<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- Load universal robotic description format (URDF) -->
  <param if="$(arg load_robot_description)" name="robot_description" command="$(find xacro)/xacro.py $(find hrpsys_ros_bridge_tutorials)/models/HRP2JSKNTS.urdf.xacro"/>
  <!-- <param if="$(arg load_robot_description)" name="robot_description" textfile="$(find hrpsys_gazebo_tutorials)/robot_models/HRP2JSKNTS/HRP2JSKNTS.urdf"/> -->

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find hrp2jsknts_moveit_config)/config/HRP2JSKNTS.srdf" />
  
  <!-- Load to the parameter server yaml files -->
  <group ns="robot_description_planning">    
    <rosparam command="load" file="$(find hrp2jsknts_moveit_config)/config/joint_limits.yaml"/>
  </group>
  
</launch>
