# Travis Continuous Integration Configuration File, based on ..
#   Generic MoveIt Travis Continuous Integration Configuration File
#   Works with all MoveIt! repositories/branches
#   Author: Dave Coleman, Jonathan Bohren
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    recipients:
      - k-okada@jsk.t.u-tokyo.ac.jp
    on_success: change #[always|never|change] # default: change
    on_failure: change #[always|never|change] # default: always
before_install: # Use this to prepare the system to install prerequisites or dependencies
  # Define some config vars
  - export ROS_DISTRO=groovy
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - echo "Testing branch $TRAVIS_BRANCH of $REPOSITORY_NAME"
  - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu precise main" > /etc/apt/sources.list.d/ros-latest.list'
  - sudo sh -c 'echo "deb http://packages.osrfoundation.org/drc/ubuntu precise main" > /etc/apt/sources.list.d/drc-latest.list'
  - wget http://packages.ros.org/ros.key -O - | sudo apt-key add -
  - wget http://packages.osrfoundation.org/drc.key -O - | sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y python-catkin-pkg python-rosdep python-wstool ros-$ROS_DISTRO-catkin ros-$ROS_DISTRO-ros
  - sudo apt-get install drcsim-$ROS_DISTRO ## Ubuntu/Precise
  # - sudo apt-get install drcsim ## Ubuntu/Quantal or Ubuntu/Raring
  # MongoDB hack - I don't fully understand this but its for moveit_warehouse
  - sudo apt-get remove -y mongodb mongodb-10gen
  - sudo apt-get install -y mongodb-clients mongodb-server -o Dpkg::Options::="--force-confdef" # default actions
  # Setup rosdep
  - sudo rosdep init
  - rosdep update
install: # Use this to install any prerequisites or dependencies necessary to run your build
  # Create workspace
  - mkdir -p ~/ros/ws_$REPOSITORY_NAME/src
  - cd ~/ros/ws_$REPOSITORY_NAME/src
  - wstool init .
  - wstool set jsk-ros-pkg/jsk_model_tools https://svn.code.sf.net/p/jsk-ros-pkg/code/trunk/jsk_model_tools --svn -y
  - wstool update
  - ln -s $CI_SOURCE_PATH . # Link the repo we are testing to the new workspace
  - cd ../
  # Install dependencies for source repos
  - rosdep install -r -n --from-paths src --ignore-src --rosdistro $ROS_DISTRO -y
  #
  # fix hrpsys_ros_bridge until 1.0.6 is out
  #
  - wget https://raw.github.com/start-jsk/rtmros_common/master/hrpsys_ros_bridge/cmake/compile_robot_model.cmake
  - sudo cp compile_robot_model.cmake /opt/ros/$ROS_DISTRO/share/hrpsys_ros_bridge/cmake
  - sudo sed -i 's@hrpsys_ros_bridge-msg-extras.cmake@hrpsys_ros_bridge-msg-extras.cmake;compile_robot_model.cmake@' /opt/ros/$ROS_DISTRO/share/hrpsys_ros_bridge/cmake/hrpsys_ros_bridgeConfig.cmake
  #
before_script: # Use this to prepare your build for testing e.g. copy database configurations, environment variables, etc.
  - source /opt/ros/$ROS_DISTRO/setup.bash
script: # All commands must exit with code 0 on success. Anything else is considered failure.
  - find . \! -path "*/.*" -type f | xargs egrep -i "(hoge|fuga)" ; if [ $? == 0 ]; then exit 1; fi
  - catkin_make

