<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="HRP4C" >
  <xacro:include filename="$(find hrpsys_gazebo_tutorials)/robot_models/HRP4C/HRP4C.urdf" />
  <!-- add IOB plugin -->
  <gazebo>
    <plugin filename="libIOBPlugin.so" name="hrpsys_gazebo_plugin" >
      <robotname>HRP4C</robotname>
      <controller>hrpsys_gazebo_configuration</controller>
    </plugin>
  </gazebo>
</robot>
