<robot name="simple_box">
  <link name="nil_link">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="2" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.25 0.5 0.35" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.25 0.5 0.35" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="nil_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="nil_link">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
  </gazebo>
  <!-- <gazebo> -->
  <!--   <plugin filename="libAddForcePlugin.so" name="simple_box_add_force_plugin" > -->
  <!--     <objname>simple_box</objname> -->
  <!--     <linkname>nil_link</linkname> -->
  <!--   </plugin> -->
  <!--   <plugin filename="libGetVelPlugin.so" name="simple_box_get_vel_plugin" > -->
  <!--     <objname>simple_box</objname> -->
  <!--     <linkname>nil_link</linkname> -->
  <!--   </plugin> -->
  <!--   <plugin filename="libSetVelPlugin.so" name="simple_box_set_vel_plugin" > -->
  <!--     <objname>simple_box</objname> -->
  <!--     <linkname>nil_link</linkname> -->
  <!--   </plugin> -->
  <!-- </gazebo> -->
</robot>