<library path="src">
  <class name="atlas_hrpsys_dashboard" type="hrpsys_gazebo_atlas.atlas_hrpsys_dashboard.AtlasHrpsysDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying a dashboard that displays and interacts with low level hrpsys states.
    </description>
    <qtgui>
      <group>
        <label>Robot</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to specific robots.</statustip>
      </group>
      <group>
        <label>Hrpsys</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the hrpsys robot.</statustip>
      </group>
      <label>Hrpsys Dashboard</label>
      <icon type="theme">task-past-due</icon>
      <statustip>A Python GUI plugin for displaying a dashboard that displays and interacts with low level hrpsys states.</statustip>
    </qtgui>
  </class>
  <class name="rqt_hrpsys_triangle"
         type="hrpsys_gazebo_atlas.triangle.TriangleGUI"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      Triangle GUI
    </description>
    <qtgui>
      <label>Triangle GUI</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>triagnle gui</statustip>
    </qtgui>
  </class>
  <class name="rqt_hrpsys_rosping"
         type="hrpsys_gazebo_atlas.ping.PingGUI"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      rosping GUI
    </description>
    <qtgui>
      <label>rosping GUI</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>rosping gui</statustip>
    </qtgui>
  </class>
  <class name="rqt_hrpsys_imagesnapshot"
         type="hrpsys_gazebo_atlas.image_snapshot.ImageSnapShotGUI"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      ImageSnapShot GUI
    </description>
    <qtgui>
      <label>ImageSnapShot GUI</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>image snapshot gui</statustip>
    </qtgui>
  </class>
  <class name="rqt_hrpsys_eus"
         type="hrpsys_gazebo_atlas.eus_gui.EusGUI"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      Hrpsys Eus GUI
    </description>
    <qtgui>
      <label>HrpsysEus GUI</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>hrpsys eus gui </statustip>
    </qtgui>
  </class>
</library>
