<launch>
  <group ns="pointcloud_roi">
    <!-- fc -->
    <node pkg="nodelet" type="nodelet"
          name="pcl_roi_fc_manager" args="manager"
          output="screen" alaunch-prefix="xterm -e gdb --args" />
    <node pkg="nodelet" type="nodelet"
          name="voxel_grid_manager"
          args="load jsk_pcl/VoxelGridDownsampleManager /pointcloud_roi/pcl_roi_fc_manager"
          output="screen" clear_params="true">
      <remap from="~input" to="/laser/full_cloud2_raw" />
    </node>
  </group>
</launch>
