<launch>
  <group ns="pointcloud_roi">
    <node pkg="jsk_interactive_marker"
          type="point_cloud_config_marker"
          name="roi_point_cloud_config_marker"
          output="log"
          clear_params="true">
      <param name="size" value="0.5" />
      <remap from="~get" to="add_grid" />
    </node>
    
    <node pkg="nodelet" type="nodelet"
          name="pcl_roi_ocs_manager" args="manager"
          output="log" alaunch-prefix="xterm -e gdb --args" />
    <node pkg="nodelet" type="nodelet"
          name="voxel_grid_decoder"
          args="load jsk_pcl/VoxelGridDownsampleDecoder /pointcloud_roi/pcl_roi_ocs_manager"
          output="screen" clear_params="true">
      <remap from="~input" to="voxel_grid_manager/output_encoded" />
    </node>

    <node pkg="nodelet" type="nodelet"
          name="l_hand_voxel_grid_decoder"
          args="load jsk_pcl/VoxelGridDownsampleDecoder /pointcloud_roi/pcl_roi_ocs_manager"
          output="screen" clear_params="true">
      <remap from="~input" to="l_hand_voxel_grid_manager/output_encoded" />
    </node>

    <node pkg="nodelet" type="nodelet"
          name="r_hand_voxel_grid_decoder"
          args="load jsk_pcl/VoxelGridDownsampleDecoder /pointcloud_roi/pcl_roi_ocs_manager"
          output="screen" clear_params="true">
      <remap from="~input" to="r_hand_voxel_grid_manager/output_encoded" />
    </node>

  </group>
</launch>
