<launch>
  <arg name="USE_LASER" default="true" />
  <arg name="USE_SCREENPOINT" default="true" />
  <arg name="USE_VIEW" default="true" />
  <arg name="USE_LIMB_TRAJECTORY" default="true" />

  <arg name="USE_IMAGE_TRANSPORT" default="false" />
  <arg name="USE_OCTOMAP" default="false" />
  <arg name="RECORD_ROSBAG" default="false" />

  <!-- obsolated -->
  <arg name="USE_HAND"  default="false" />
  <arg name="USE_BDI_ACTION" default="false" />

  <!-- hrpsys controller launch -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_hrpsys_bringup.launch">
    <arg name="USE_LIMB_TRAJECTORY" value="$(arg USE_LIMB_TRAJECTORY)" />
  </include>

  <!-- ROS nodes -->
  <!-- laser scanning -->
  <include if="$(arg USE_LASER)"
           file="$(find hrpsys_gazebo_atlas)/launch/atlas_laser.launch" />

  <!-- screen point -->
  <include if="$(arg USE_SCREENPOINT)"
           file="$(find hrpsys_gazebo_atlas)/launch/atlas_screenpoint.launch" >
    <arg name="USE_VIEW" value="$(arg USE_VIEW)" />
  </include>

  <!-- image transport -->
  <include if="$(arg USE_IMAGE_TRANSPORT)"
           file="$(find hrpsys_gazebo_atlas)/launch/atlas_imagetransport.launch" />

  <!-- octomap -->
  <include if="$(arg USE_OCTOMAP)"
           file="$(find hrpsys_gazebo_atlas)/launch/atlas_octomap.launch" >
    <arg name="USE_TILT_LASER" value="false" />
  </include>

  <!-- hand controller -->
  <include if="$(arg USE_HAND)"
           file="$(find hrpsys_gazebo_atlas)/launch/sandia_hand_controller.launch" />

  <!-- bdi_controller -->
  <node if="$(arg USE_BDI_ACTION)"
        pkg="atlas_msgs" type="actionlib_server" name="walking_actionlib_server" />

  <!-- tf for sensors -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_sensor_tf.launch" />

  <node pkg="hrpsys_ros_bridge" type="hrpsys_dashboard" name="atlas_dashboard" />
</launch>
