<launch>
  <arg name="USE_INTERACTIVE_ENDCOORDS" default="false" />

  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_hrpsys.launch">
    <arg name="USE_INTERACTIVE_ENDCOORDS" value="$(arg USE_INTERACTIVE_ENDCOORDS)" />
    <env name="HRPSYS_GAZEBO_ATLAS_COMMAND_TOPIC_NAME" value="/atlas/atlas_command_hrpsys" />
  </include>

  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas-ik.launch" />
</launch>


