<launch>
  <arg name="OCS_TF" default="/tf_ocs"/>
  <arg name="USE_INTERACTIVE_JOINT" default="false" />
  <arg name="USE_INTERACTIVE_ENDCOORDS" default="false" />
  <arg name="ROBOT_DESCRIPTION_OCS" default="robot_description_ocs" />

  <param name="$(arg ROBOT_DESCRIPTION_OCS)"
         command="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas_v3_sandia_hands.urdf.xacro'"/>

  <!-- for joint state -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_joint_state_decompresser.launch">
    <arg name="OCS_TF" value="$(arg OCS_TF)"/>
    <arg name="ROBOT_DESCRIPTION_OCS" value="$(arg ROBOT_DESCRIPTION_OCS)"/>
  </include>
  
  <!-- interactive joint marker and rviz -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_interactive_marker_ocs.launch">
    <arg name="USE_INTERACTIVE_JOINT" value="$(arg USE_INTERACTIVE_JOINT)"/>
    <arg name="USE_INTERACTIVE_ENDCOORDS" value="$(arg USE_INTERACTIVE_ENDCOORDS)"/>
    <arg name="LAUNCH_DYNAMIC_TF_PUBLISHER" value="false"/>
    <arg name="OCS_TF" value="$(arg OCS_TF)"/>
    <arg name="ROBOT_DESCRIPTION_OCS" value="$(arg ROBOT_DESCRIPTION_OCS)"/>
  </include>

  <!-- start hrpsys_atlas_dashboard -->
  <node pkg="hrpsys_gazebo_atlas" type="hrpsys_atlas_dashboard" name="hrpsys_atlas_dashboard" />

  <!-- publish specific tf ( map to pelvis ) -->
  <node pkg="jsk_topic_tools" type="specific_transform_subscriber" name="specific_tf_subscriber"
	output="screen">
    <remap from="/tf" to="$(arg OCS_TF)"/>
    <remap from="/set_dynamic_tf" to="/dynamic_tf_publisher_ocs/set_dynamic_tf"/>
  </node>

  <node pkg="dynamic_tf_publisher" type="tf_publish.py" name="dynamic_tf_publisher_ocs" output="screen">
    <remap from="/tf" to="$(arg OCS_TF)"/>
    <remap from="/set_dynamic_tf" to="/dynamic_tf_publisher_ocs/set_dynamic_tf"/>
    <remap from="/delete_tf" to="/dynamic_tf_publisher_ocs/delete_tf"/>
    <remap from="/dissoc_tf" to="/dynamic_tf_publisher_ocs/dissoc_tf"/>
    <remap from="/assoc_tf" to="/dynamic_tf_publisher_ocs/assoc_tf"/>
    <param name="use_cache" type="bool" value="false"/>
  </node>
</launch>
