<launch>
  <arg name="USE_INTERACTIVE_JOINT" default="false" />
  <!-- for point cloud -->

  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_pcl_divider.launch"/>
  <node pkg="hrpsys_gazebo_atlas" type="pcl_divider_periodic_caller.sh"
	name="pcl_divider_periodic_caller"
	output="screen">
  </node>

  <!-- interactive joint marker and rviz -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_interactive_marker_fc.launch">
    <arg name="USE_INTERACTIVE_JOINT" value="$(arg USE_INTERACTIVE_JOINT)"/>
  </include>

  <!-- send joint_state and map->pelvis to ocs -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_send_tf_fc.launch"/>
</launch>
