<launch>
  <!-- for point cloud -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_pcl_divider.launch"/>
  <node pkg="hrpsys_gazebo_atlas" type="pcl_divider_periodic_caller.sh"
	name="pcl_divider_periodic_caller"
	output="screen">
  </node>

  <!-- for joint state -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_joint_state_compresser.launch"/>
  <node pkg="hrpsys_gazebo_atlas" type="joint_state_compresser_periodic_caller.sh"
	name="joint_state_compresser_periodic_callser"
	output="screen">
  </node>
</launch>
