<launch>
  <arg name="OCS_TF" default="/tf_ocs"/>
  <arg name="tf_frequency" default="10.0"/>
  <arg name="JOINT_STATE_UPDATE_RATE" default="1.0"/>
  <arg name="ROBOT_DESCRIPTION_OCS" default="robot_description" />

  <!-- <param name="robot_description" -->
  <!--        command="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas_v3_sandia_hands.urdf.xacro'"/> -->

  <node pkg="roseus" type="roseus"
	name="atlas_joint_state_decompresser"
	args="$(find hrpsys_gazebo_atlas)/euslisp/atlas-joint-state-decompresser.l"
	output="screen"/>
  
  <node pkg="roseus" type="roseus"
	name="multisense_sl_joint_state_decompresser"
	args="$(find hrpsys_gazebo_atlas)/euslisp/multisense-sl-joint-state-decompresser.l"
	output="screen">
    <remap from="/atlas/joint_states_compressed_buffered" to="/multisense_sl/joint_states_compressed_buffered"/>
    <remap from="/atlas/joint_states_decompressed" to="/multisense_sl/joint_states_decompressed"/>
  </node>

  <node pkg="jsk_topic_tools" type="topic_buffer_client"
        name="joint_state_buffer_client">

    <param name="update_rate" value="$(arg JOINT_STATE_UPDATE_RATE)"  />
    <remap from="/list" to="/joint_state_buffer_server/list"/>
    <rosparam>
      use_service: false
      topics: ["/atlas/joint_states_compressed", "/multisense_sl/joint_states_compressed"]
      fixed_rate: 1.0
    </rosparam>
    <remap from="/update" to="/joint_state_buffer_server/update"/>
  </node>

  <node pkg="robot_state_publisher" type="state_publisher" name="decompressed_robot_state_publisher"
	output="screen">
    <param name="publish_frequency" type="double" value="$(arg tf_frequency)" />
    <remap from="/tf" to="$(arg OCS_TF)"/>
    <remap from="/joint_states" to="/atlas/joint_states_decompressed"/>
    <remap from="robot_description" to="$(arg ROBOT_DESCRIPTION_OCS)"/>
  </node>
  <node pkg="robot_state_publisher" type="state_publisher" name="decompressed_multisense_sl_robot_state_publisher"
	output="screen">
    <param name="publish_frequency" type="double" value="$(arg tf_frequency)" />
    <remap from="/tf" to="$(arg OCS_TF)"/>
    <remap from="/joint_states" to="/multisense_sl/joint_states_decompressed"/>
    <remap from="robot_description" to="$(arg ROBOT_DESCRIPTION_OCS)"/>
  </node>

</launch>
