<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="USE_ROBOTHARDWARE" default="false"/>
  <arg name="ROBOT_NAME" default="atlas" />

  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch" >
    <arg name="MODEL_FILE" value="$(find hrpsys_gazebo_atlas)/models/$(arg ROBOT_NAME).dae" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_gazebo_atlas)/models/$(arg ROBOT_NAME).dae" />

    <arg name="SIMULATOR_NAME" value="RobotHardware0" if="$(arg USE_ROBOTHARDWARE)"/>
    <arg name="SIMULATOR_NAME" value="$(arg ROBOT_NAME)(Robot)0" unless="$(arg USE_ROBOTHARDWARE)"/>
    <arg name="INSTALL_ROBOT_DESCRIPTION" value="false" if="$(arg USE_ROBOTHARDWARE)"/>
    <arg name="INSTALL_ROBOT_DESCRIPTION" value="true" unless="$(arg USE_ROBOTHARDWARE)"/>

    <arg name="USE_ROBOTHARDWARE" value="$(arg USE_ROBOTHARDWARE)" />
  </include>
</launch>
