<launch>
  <arg name="CREATE_MANAGER" default="true" />
  <arg name="MANAGER_NAME" default="roi_image_proc_manager" />

  <node if="$(arg CREATE_MANAGER)"
        pkg="nodelet" type="nodelet" name="$(arg MANAGER_NAME)"
        args="manager" output="screen"/>

  <arg name="DECIMATE_CAMERA" default="/multisense_sl/camera/left" />
  <arg name="DECIMATE_IMAGE" default="image_rect_color" />
  <arg name="DECIMATE_OUTPUT_CAMERA" default="roi_camera_output" />
  <!--arg name="DECIMATE_OUTPUT_IMAGE" default="image_raw" /-->

  <node pkg="nodelet" type="nodelet" name="roi_crop_decimate"
        args="load image_proc/crop_decimate $(arg MANAGER_NAME)" >
    <!--remap from="camera" to="$(arg DECIMATE_CAMERA)" /-->
    <remap from="camera/image_raw" to="$(arg DECIMATE_CAMERA)/$(arg DECIMATE_IMAGE)" />
    <remap from="camera_out" to="$(arg DECIMATE_OUTPUT_CAMERA)" />
  </node>

  <node pkg="roseus_tutorials" type="roi-reconfigure-call.l"
        name="roi_reconfigure_call" output="screen" >
    <!--remap from="roi_crop_decimate/set_parameters" to="" /-->
    <remap from="/image_rect_color/screenrectangle"
           to="$(arg DECIMATE_CAMERA)/$(arg DECIMATE_IMAGE)/screenrectangle" />
    <remap from="/image_rect_color/screenpoint"
           to="$(arg DECIMATE_CAMERA)/$(arg DECIMATE_IMAGE)/screenpoint" />
  </node>
</launch>
