<launch>

  <node pkg="hrpsys_gazebo_atlas"
	type="atlas-door-motion-player.l"
	name="atlas_door_motion_player" output="screen"/>
  <node pkg="hrpsys_gazebo_atlas"
	type="eus_gui.py"
	name="angle_vector_player_gui" output="screen"/>

  <node pkg="jsk_interactive_marker" type="door_foot"
	name="door_foot" output="screen">
    <rosparam param="foot_list">
      - pose:
          position: {x: -0.633, y: 0.384, z: 0}
          orientation: {x: 0, y: 0, z: 0.258819, w: 0.965926}
        leg: "right"
      - pose:
          position: {x: -0.766, y: 0.615, z: 0}
          orientation: {x: 0, y: 0, z: 0.258819, w: 0.965926}
        leg: "left"

      <!-- - pose: -->
      <!--     position: {x: -0.523, y: 0.27, z: 0} -->
      <!--     orientation: {x: 0, y: 0, z: 0.642788, w: 0.766} -->
      <!--   leg: "right" -->
      <!-- - pose: -->
      <!--     position: {x: -0.747, y: 0.31, z: 0} -->
      <!--     orientation: {x: 0, y: 0, z: 0.642788, w: 0.766} -->
      <!--   leg: "left" -->

      - pose:
          position: {x: -0.523, y: 0.31, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: -0.747, y: 0.31, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      - pose:
          position: {x: -0.4485, y: 0.418, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: -0.747, y: 0.418, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      
      - pose:
          position: {x: -0.4485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: -0.7485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      - pose:
          position: {x: -0.2485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: -0.5485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"
      
      - pose:
          position: {x: -0.0485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: -0.3485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      - pose:
          position: {x: 0.2485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: -0.1485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      - pose:
          position: {x: 0.4485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: 0.1485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      - pose:
          position: {x: 0.6485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: 0.3485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      - pose:
          position: {x: 0.8485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "right"
      - pose:
          position: {x: 0.5485, y: 0.527, z: 0}
          orientation: {x: 0, y: 0, z: 0.707107, w: 0.707107}
        leg: "left"

      
    </rosparam>
  </node>
</launch>
