<launch>
  <arg name="OCS_TF" default="/tf_ocs"/>
  <remap from="/tf" to="$(arg OCS_TF)"/>
  <!-- for narrow band -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_low_bandwidth_ocs.launch">
    <arg name="USE_INTERACTIVE_JOINT" value="true"/>
    <arg name="USE_INTERACTIVE_ENDCOORDS" value="true"/>
    <arg name="OCS_TF" value="$(arg OCS_TF)"/>
  </include>
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_pcl_concatenater.launch">
  </include>
  <include file="$(find atlas_prog)/launch/xbox_footstep.launch">
  </include>
  <!-- start hrpsys_atlas_dashboard -->
  <node pkg="hrpsys_gazebo_atlas" type="hrpsys_atlas_dashboard" name="hrpsys_atlas_dashboard" />
  <node pkg="hrpsys_gazebo_atlas" type="atlas-eus-ik.l"
        name="atlas_eus_ik" output="screen"
        respawn="true">
    <remap from="/tf" to="$(arg OCS_TF)"/>
  </node>
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_pcl_roi_ocs.launch" />

  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_roi_image_view.launch" />
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_all_viewer.launch" />
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_ping.launch" />

  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_force_sensor_ocs.launch" />
  <node name="sensor_tf_larm" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /l_hand /l_arm_wrx 400" >
    <remap from="/tf" to="/tf_ocs" />
  </node>
  <node name="sensor_tf_rarm" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /r_hand /r_arm_wrx 400" >
    <remap from="/tf" to="/tf_ocs" />
  </node>
</launch>
