<launch>
  <!-- for narrow band -->
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_low_bandwidth_ocs.launch">
    <arg name="USE_INTERACTIVE_JOINT" value="true"/>
    <arg name="USE_INTERACTIVE_ENDCOORDS" value="true"/>
  </include>
  <include file="$(find hrpsys_gazebo_atlas)/launch/atlas_pcl_concatenater.launch">
  </include>
  <include file="$(find atlas_prog)/launch/xbox_footstep.launch">
    <arg name="DEV" value="/dev/input/js1"/>
  </include>
  <!-- start hrpsys_atlas_dashboard -->
  <node pkg="hrpsys_gazebo_atlas" type="hrpsys_atlas_dashboard" name="hrpsys_atlas_dashboard" />
  <node pkg="hrpsys_gazebo_atlas" type="atlas-eus-ik.l" name="atlas_eus_ik" output="screen" />
</launch>
