<launch>
  <include file="$(find hrpsys_gazebo_atlas)/launch/footstep_planner.launch" >
    <arg name="MAP_FILE" value="$(find hrpsys_gazebo_atlas)/maps/stepping_map.yaml" />
    <arg name="LAUNCH_RVIZ" value="false" />
  </include>

  <node name="rviz_stepping_block" pkg="rviz" type="rviz"
        args="-d $(find hrpsys_gazebo_atlas)/config/atlas_laser.vcg" />
</launch>
