<launch>
  <arg name="gzname" default="gazebo"/>
  <arg name="WORLD" default="$(find hrpsys_gazebo_general)/worlds/empty.world"/>
  <arg name="PAUSED" default="false"/>
  <arg name="SYNCHRONIZED" default="false" />

  <rosparam command="load"
            file="$(find hrpsys_gazebo_tutorials)/config/HRP3HAND_L.yaml" ns="HRP3HAND_L" />
  <rosparam command="load"
            file="$(find hrpsys_gazebo_tutorials)/config/HRP3HAND_R.yaml" ns="HRP3HAND_R" />

  <include file="$(find hrpsys_gazebo_general)/launch/gazebo_robot_no_controllers.launch">
    <arg name="ROBOT_TYPE" value="HRP2JSKNT" />
    <arg name="WORLD" value="$(arg WORLD)" />
    <arg name="HRPSYS_GAZEBO_CONFIG" default="$(find hrpsys_gazebo_tutorials)/config/HRP2JSKNT.yaml" />
    <arg name="ROBOT_MODEL" default="$(find hrpsys_gazebo_tutorials)/robot_models/HRP2JSKNT/HRP2JSKNT.urdf.xacro" />

    <arg name="PAUSED" value="$(arg PAUSED)"/>
    <arg name="SYNCHRONIZED" value="$(arg SYNCHRONIZED)" />
    <arg name="USE_INSTANCE_NAME" value="true" />
    <arg name="gzname" value="$(arg gzname)" />
  </include>
</launch>
