<launch>
  <arg name="gzname" default="gazebo"/>
  <arg name="ROBOT_TYPE" default="SampleRobot" />
  <arg name="WORLD" default="$(arg ROBOT_TYPE).world" />
  <arg name="HRPSYS_GAZEBO_CONFIG" default="$(find hrpsys_gazebo_tutorials)/config/$(arg ROBOT_TYPE).yaml" />
  <arg name="ROBOT_MODEL" default="$(find hrpsys_gazebo_tutorials)/robot_models/$(arg ROBOT_TYPE)/$(arg ROBOT_TYPE).urdf" />
  <arg name="PAUSED" default="false"/>
  <arg name="SYNCHRONIZED" default="false" />
  <arg name="ROBOT_INSTANCE_NAME" default="$(arg ROBOT_TYPE)" /> <!-- ROBOT instance Name (name_space) -->

  <arg name="LOOPBACK" default="false" />
  <arg name="SPAWN_MODEL" default="false" />

  <arg name="MODEL_TRANSLATE_X" default="0.0" />
  <arg name="MODEL_TRANSLATE_Y" default="0.0" />
  <arg name="MODEL_TRANSLATE_Z" default="1.0" />

  <arg if="$(arg PAUSED)"
       name="paused" value="_paused" />
  <arg unless="$(arg PAUSED)"
       name="paused" value="" />

  <group unless="$(arg LOOPBACK)" >
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the hrpsys_gazebo -->
  <node name="gazebo" pkg="drcsim_gazebo" type="run_$(arg gzname)$(arg paused)" args="$(arg WORLD)" output="screen" />
  </group>

  <group ns="$(arg ROBOT_INSTANCE_NAME)" >
    <!-- controller configuration -->
    <rosparam command="load" file="$(arg HRPSYS_GAZEBO_CONFIG)" />
    <!-- setting for using synchronized iob -->
    <param name="hrpsys_gazebo_configuration/use_synchronized_command"
           value="$(arg SYNCHRONIZED)" />
  </group>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(arg ROBOT_MODEL)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node if="$(arg SPAWN_MODEL)"
        name="spawn_robot_model" pkg="roseus" type="roseus"
        args="&quot;$(find hrpsys_gazebo_tutorials)/euslisp/spawn_gazebo_model.l&quot;" >
    <param name="robot_name" value="$(arg ROBOT_INSTANCE_NAME)" />
    <param name="model_file" value="$(arg ROBOT_MODEL)" />
    <param name="translate_x" value="$(arg MODEL_TRANSLATE_X)" />
    <param name="translate_y" value="$(arg MODEL_TRANSLATE_Y)" />
    <param name="translate_z" value="$(arg MODEL_TRANSLATE_Z)" />
  </node>

</launch>
