<launch>
  <arg name="gzname" default="gazebo"/>
  <arg name="WORLD" default="worlds/empty.world"/>
  <arg name="PAUSED" default="false"/>
  <arg name="LOOPBACK" default="false" />

  <include file="$(find hrpsys_gazebo_tutorials)/launch/gazebo_robot_no_controllers.launch">
    <arg name="gzname"      value="$(arg gzname)" />
    <arg name="WORLD"       value="$(arg WORLD)" />
    <arg name="PAUSED"      value="$(arg PAUSED)"/>
    <arg name="ROBOT_TYPE"  value="HRP4C" />
    <arg name="SPAWN_MODEL" value="true" />
    <arg name="LOOPBACK"    value="$(arg LOOPBACK)" />
  </include>
</launch>
