<launch>
  <arg name="SYNCHRONIZED" default="false" />
  <arg name="LOOPBACK"     default="false" />

  <include file="$(find hrpsys_gazebo_tutorials)/launch/robot_hrpsys_bringup.launch">
    <arg name="ROBOT_TYPE"   value="HRP4C" />
    <arg name="LOOPBACK"     value="$(arg LOOPBACK)" />
    <arg name="SYNCHRONIZED" value="$(arg SYNCHRONIZED)" />
    <arg name="IOB_SUBSTEPS" value="5" />
    <arg name="HRPSYS_RATE"  value="200" />
  </include>
</launch>
