<launch>
  <arg name="SYNCHRONIZED" default="false" />

  <!-- <rosparam command="load" -->
  <!--           file="$(find hrpsys_ros_bridge)/models/STARO_controller_config.yaml" /> -->

  <include file="$(find hrpsys_gazebo_general)/launch/robot_hrpsys_bringup.launch">
    <arg name="ROBOT_TYPE" value="STARO" />
    <arg name="CONF_DIR" value="$(find hrpsys_ros_bridge_tutorials)/models" />
    <arg name="USE_INSTANCE_NAME" value="true" />
    <arg name="SYNCHRONIZED" value="$(arg SYNCHRONIZED)" />
    <arg name="HRPSYS_PY_ARGS" value="--use-unstable-rtc" />
  </include>
</launch>
