<?xml version='1.0'?>
<model>
  <name>hrpsys_gazebo_general robot models</name>
  <version>0.1.0</version>
  <author>
    <name>Masaki Murooka</name>
    <email>murooka@jsk.t.u-tokyo.ac.jp</email>
  </author>
  <sdf>dummy.urdf</sdf>
  <description>
    This is not a significant source of model, but the package contains model resources.
  </description>
</model>
